body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin-bottom: 70px;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    
}
.about{
    padding-bottom: 20px;
    border-bottom:2px solid #ddd;
}
.flex{
    display: flex;
    justify-content: space-around;
    

}
.container {
    width: 100%;
}
.icon{
    font-weight: 200;
    font-size: 30px;
    background-color:#4aaaa5;
    float: left;
    margin: 20px;
    width: 200px;
    height: 40px;
    padding: 20px;
    text-align: center;
    top: 100px;
    color: #fff;
}
.nav a {
    text-decoration: none;
    line-height: 10px rgb(40, 38, 38);
    padding: 15px;
    float: right;
    margin-top: 30px;
    font-size: 20px;
    margin-right: 10px;
    color: #ccc;
}
article{
    margin: 20px;
}

article img {
    object-fit: cover;
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 40px;
}
.main-content {
    
    border-radius: 10px;
    background-color: #fff;
    padding: 40px;
    width: 40%;
    
    height: 200px;
}

.connect{
    border-bottom: 2px solid #ddd;
}
input{
    width:600px;
    height:35px;
    padding: 0 10px;
    margin:2px;
}
.sosial {
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    width: 30%;
    height: 222px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    margin-bottom: 100px;
}

.footer{
    background-color: #3e3838;
    margin-top: 72px;
    padding: 33px;
    text-align: center;
    color: #fff;
    
}


